<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday Warrior</title>
</head>
<body>
    <h1> 
        <% if(day >=1 && day <= 5){ %>
            "Time to Work hard, its a Weekday!"
        <% } else { %>
            "You can relax, it's a Weekend!"
        <% } %>
    </h1>
</body>
</html>